<h1 style="text-align: center;font-size: 54px;">National News</h1>   
<div style="width: 100%; height: 240px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav
      [images]="nationalNews"
      [infinite]="false"
      [videoAutoPlay]="true"
      [imageSize]="{width: '25%', height: '35%'}"
      slideImage="4"></ng-image-slider>
  </div>
  <h1 style="text-align: center;font-size: 54px;">State News</h1>   
  <div style="width: 100%; height: 240px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav
      [images]="stateNews"
      [infinite]="false"
      [videoAutoPlay]="true"
      [imageSize]="{width: '25%', height: '35%'}"
      slideImage="4"></ng-image-slider>
  </div>
  <h1 style="text-align: center;font-size: 54px;">City News</h1>   
  <div style="width: 100%; height: 240px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav
      [images]="cityNews"
      [infinite]="false"
      [videoAutoPlay]="true"
      [imageSize]="{width: '25%', height: '35%'}"
      slideImage="4"></ng-image-slider>
  </div>
  <h1 style="text-align: center;font-size: 54px;">Sports News</h1>   
  <div style="width: 100%; height: 240px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav
      [images]="sportsNews"
      [infinite]="false"
      [videoAutoPlay]="true"
      [imageSize]="{width: '25%', height: '35%'}"
      slideImage="4"></ng-image-slider>
  </div>
<!-- <div fxLayout style="display:flex; flex-direction: row;gap:25px">
    <mat-card class="example-card">
       ...
    </mat-card>
    <mat-card class="example-card">
       ...
    </mat-card>
    <mat-card class="example-card">
        ...
     </mat-card>
     <mat-card class="example-card">
        ...
     </mat-card>
     <mat-card class="example-card">
        ...
     </mat-card>
     <mat-card class="example-card">
        ...
     </mat-card>
 </div> -->
